#customize-control-simple_melody_sidebar_pos label:first-of-type {
	background: url(../img/left-sidebar.png) 100px 0 no-repeat;
	display: block;
	width: 190px;
	height: 60px;
}

#customize-control-simple_melody_sidebar_pos label:nth-of-type(2n) {
	background: url(../img/right-sidebar.png) 100px 0 no-repeat;
	display: block;
	width: 190px;
	height: 60px;
}

#customize-control-simple_melody_sidebar_pos label:last-of-type {
	background: url(../img/no-sidebar.png) 100px 0 no-repeat;
	display: block;
	width: 190px;
	height: 60px;
}

.upgrade-theme  {
	background-color: #fff;
	padding: 1em 1em 0;
	text-align: center;
}

.upgrade-theme a {
	background-color: #EC6A5C;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	font-size: .875em;
	margin: auto;
	padding: .5em 1em;
	text-align: center;
	text-transform: uppercase;
	transition: all ease .5s;
}

.upgrade-theme a:hover {
	background-color: #e84e3e;
}

