$color__background-body     : #FFF;
$color__background-alt      : #EEE; //#F5F7FA;
$color__background-screen   : #F1F1F1;
$color__background-hr       : #CCC;
$color__background-button   : #555; 
$color__background-pre      : #EEE;
$color__background-ins      : #FFF9C0;

$color__meta                : #858585;
$color__text-main           : #555;
$color__text-input          : #666;
$color__text-input-focus    : #111;
$color__link                : #222;
$color__link-visited        : #666;
$color__link-hover          : #DB626B;

$color__border-button       : #CCC #CCC #BBB;
$color__border-button-hover : #CCC #BBB #AAA;
$color__border-button-focus : #AAA #BBB #BBB;
$color__border-input        : #CCC;
$color__border-abbr         : #666;
