$size__site-main: 100%;
$size__site-sidebar: 30%;
$size__site-full: 1600px;
$size__site-lrg: 1400px;
$size__site-reg: 1023px;
$size__site-med: 960px;
$size__site-sml: 780px;
$size__site-xtr-sml: 600px;