$font__main: 'Muli', sans-serif;
$font__header: 'Libre Baskerville', serif;
$font__quote: 'Lora', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;